@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

html, button, p, h2{
  font-family: "Geist", sans-serif !important;
  font-style: normal !important;
}

.fc {
  font-family: "Geist", sans-serif !important;
  font-style: normal !important;
}