html, button, p, h1, h2, h3, h4, h5, h6, a, p, div, span, input, textarea{
  font-family: "Comic Neue", sans-serif !important;
}

body {
  font-family: var(--font-sans);
}

:root {
  --font-sans: var(--font-comic-neue);
}

.fc {
  font-family: "Comic Neue", sans-serif !important;
  font-style: normal !important;
}

a{
  text-decoration: none;
}